################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClanProject/obj/Debug/ClanProject_MarkupCompile.cache
